USE [master]
GO
/****** Object:  Database [soportetec]    Script Date: 9/14/2016 2:18:42 PM ******/
CREATE DATABASE [soportetec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'soportetec', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\soportetec.mdf' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'soportetec_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\soportetec_log.ldf' , SIZE = 51200KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [soportetec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [soportetec]
GO
/****** Object:  Table [dbo].[Reportes]    Script Date: 9/14/2016 2:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reportes](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Tecnico] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Departamento] [varchar](50) NOT NULL,
	[Problemas con] [varchar](50) NOT NULL,
	[Comentario] [varchar](700) NULL,
	[Fecha Modificado] [smalldatetime] NULL,
	[Modificado Por] [varchar](20) NULL,
	[Fecha dt] [smalldatetime] NULL,
 CONSTRAINT [PK_Reportesds] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tab_Usuarios]    Script Date: 9/14/2016 2:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tab_Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](20) NOT NULL,
	[NombreCompleto] [varchar](100) NOT NULL,
	[Contraseña] [varbinary](256) NOT NULL,
	[TipoUsuario] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Tab_Usuarios_1] PRIMARY KEY CLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[crear_Ticket]    Script Date: 9/14/2016 2:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[crear_Ticket]

@tecnico varchar(50),
@estado varchar(50),
@departamento varchar(50),
@problemascon varchar(50),
@comentario varchar(700)

AS

insert into Reportes 
(Fecha, [Fecha dt], Tecnico,Estado,Departamento,[Problemas con],Comentario) 
values (GETDATE(), GETDATE(), @tecnico, @estado, @departamento,@problemascon,@comentario);


GO
/****** Object:  StoredProcedure [dbo].[crear_Usuario]    Script Date: 9/14/2016 2:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[crear_Usuario]

@nom_usuario varchar(20),
@nom_completo varchar(100),
@contraseña varchar(256),
@tipo_usuario varchar(15)

AS

insert into dbo.Tab_Usuarios (NombreUsuario, NombreCompleto, Contraseña, TipoUsuario) 
values (@nom_usuario, @nom_completo, pwdencrypt(@contraseña), @tipo_usuario);
GO
/****** Object:  StoredProcedure [dbo].[editar_Contraseña]    Script Date: 9/14/2016 2:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editar_Contraseña]

@nom_usuario varchar(20),
@contraseña varchar(256)

AS

update Tab_Usuarios set Contraseña = pwdencrypt(@contraseña) where NombreUsuario= @nom_usuario;
GO
/****** Object:  StoredProcedure [dbo].[editar_UnaContraseña]    Script Date: 9/14/2016 2:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editar_UnaContraseña]

@nom_usuario varchar(20),
@contraseña varchar(256)

AS

update dbo.Tab_Usuarios set Contraseña = pwdencrypt(@contraseña) where NombreUsuario = @nom_usuario;
GO
/****** Object:  StoredProcedure [dbo].[editarTicket]    Script Date: 9/14/2016 2:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editarTicket]

@tecnico varchar(50),
@estado varchar(50),
@departamento varchar(50),
@problemascon varchar(50),
@modificadopor varchar(20),
@comentario varchar(700),
@codigo int
AS
update Reportes set Tecnico = @tecnico, Estado = @estado, Departamento =@departamento, [Problemas con] =@problemascon, Comentario = @comentario , [Fecha Modificado] = GETDATE(), [Modificado Por] = @modificadopor where codigo = @codigo;

GO
/****** Object:  StoredProcedure [dbo].[eliminar_Usuario]    Script Date: 9/14/2016 2:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminar_Usuario]

@nom_usuario varchar(20)

AS

DELETE FROM Tab_Usuarios where NombreUsuario = @nom_usuario;
GO
/****** Object:  StoredProcedure [dbo].[eliminarTicket]    Script Date: 9/14/2016 2:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarTicket]
@num_Ticket int
AS
DELETE FROM DBO.REPORTES WHERE Codigo = @num_Ticket;
GO
/****** Object:  StoredProcedure [dbo].[select_nombreCompletoUsuario]    Script Date: 9/14/2016 2:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[select_nombreCompletoUsuario]
@usuario varchar(20)
AS
--SET NOCOUNT ON
SELECT NombreCompleto FROM dbo.Tab_Usuarios where NombreUsuario = @usuario;
GO
USE [master]
GO
